{% extends "base.html" %}

{% block title %} Sign Up{% endblock %}
{% block subtitle %}<a href="{{ url_for('login') }}">Login Here</a>{% endblock %}
    {% block content %}
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">

                    <!-- Post preview-->
                    <form action="/signup" method="POST">
                      <label>UserName:</label><br>
                      <input type="username" name="username" placeholder="Username"><br>
                      <label>Password:</label><br><input type="password" name="password" placeholder="Password here"><br><br>
                        {% if error_message %}
                        <div class="error-message" style="color: red">{{ error_message }}</div>
                        {% endif %}
                        <input type="submit"  value="signup HERE">
                    </form>

                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager-->
<!--                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">New POST →</a></div>-->
                </div>
            </div>
        </div>
    {% endblock %}

